.react-calendar{
    border: none;
}

.react-calendar abbr{
    text-decoration: none!important;
}


.react-calendar__tile--active{
    background-color: white;
    color: black!important;
}
.react-calendar__tile--active:hover{
    background-color: #e6e6e6!important;
    color: black!important;
}

.react-calendar .dayHoliday {
    background-color: rgb(255, 166, 0);
    color: white;
    border: 0.1px inset black;
}