@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainSection ul li{
  margin-left: 20px!important;
}

@media screen and (min-width:426px) and (max-width:769px) {
  .mainSection ul li{
    margin-left: 20%!important;
  }
}

@media screen and (max-width:425px){
  .mainSection ul li{
    margin-left: 5%!important;
  }
}